body{
    color: #40514E;
    background-color: #EDF1D6;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;

}
p{
    line-height: 2;
}
h1{
    margin: 50px;
    color: #40513B;
    font-family: 'Sacramento', cursive;
    font-size:6.5rem;

}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    color: #40513B;
    padding-bottom: 10px;
    padding-top: 15px;
}
h3{
    color: #609966;
    font-family: 'Montserrat', sans-serif;
}

hr{
    border: dotted #A4BE7B 6px;
    border-bottom: none;
    width: 5%;
    margin: 75px auto;
}
a{
    color: #40513B;
    font-family: 'Montserrat', sans-serif;
    margin :10px 20px;
    text-decoration: none;
}
label{
    color:#40514E ;
    font-size: 20px;
    margin-right:20px 
}
div{
    padding-top: 25px;
  
}




.footer-link:hover{
    color: #609966;
    padding: 20px 0;
}



.contact-message{
    margin: auto;
    width: 30%;
    margin-top: 40px;
    margin-bottom: 60px;
}
.main{
    padding-top: 100px;
    background-color: #9DC08B;
    margin: 10 px;
}
.pro{
    text-decoration: underline;
}
.space{
    height: 30px;
}
.middle-container{
  padding-top: 100px;
    
}
.bottom-container{
   margin-top: 75px;
   padding: 50px;
    
   height: 25px;
   background-color: #9DC08B;
    
}
.profile-photo{
   width: 25%;
    
}
.copyright{
    color: #EDF1D6;
    font-size: 0.75rem;
}
.skill-row{
    width: 50%;
    margin: auto;
    margin-top: 100px;
    text-align: left;
}

.bottom-cloud{
position: absolute;

left:250px;
bottom: 250px;

}
.top-cloud{
    position:absolute;
    right: 240px;
    top:50px;
}
.eren{
    width: 20%;
    float: right;
    margin-left: 40px;
   
}
.computer{
    width: 20%;
    float: left;
    margin-right: 40px;
}
.genshin{
    width: 20%;
    float:right;
    margin-left: 40px;
}
.intro{
    width: 30%;
    margin: auto;
}
.btn {
    background: #9DC08B;
    background-image: -webkit-linear-gradient(top, #9DC08B, #609966);
    background-image: -moz-linear-gradient(top, #9DC08B, #609966);
    background-image: -ms-linear-gradient(top, #9DC08B, #609966);
    background-image: -o-linear-gradient(top, #9DC08B, #609966);
    background-image: linear-gradient(to bottom, #9DC08B, #609966);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #C7F2A4;
    text-decoration: none;
  }

  .submit {
    background: #9DC08B;
    background-image: -webkit-linear-gradient(top, #9DC08B, #609966);
    background-image: -moz-linear-gradient(top, #9DC08B, #609966);
    background-image: -ms-linear-gradient(top, #9DC08B, #609966);
    background-image: -o-linear-gradient(top, #9DC08B, #609966);
    background-image: linear-gradient(to bottom, #9DC08B, #609966);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .submit:hover {
    background: #C7F2A4;
    text-decoration: none;
  }



